*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar
{
    display: flex;
    align-items: center;
    height: 7vh;
    overflow: hidden;
    background-color: white;
    padding: 25px;
}

.navbar a
{
    color: black;
    font-size: 20px;
    margin: 15px;
    margin-left: 50px;
    text-decoration: none;
}

.navbar a:hover
{
    color: #1E90FF;
}

.navbar img
{
    height: 35px;
}

.container
{
    background: linear-gradient(to top,#1E90FF, #87CEFA);
}

.content1
{
    display: flex;
    height: 70vh;
    background-color: white;
    align-items: center;
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6vh;
}

.content1 img
{
    border: 3px solid white;
    border-radius: 20px;
    position: relative;
    height: 70vh;
}

.text
{
    text-align: center;
    font-size: 3vh;
    text-shadow: 2px 2px 4px lightgray;
}

.text p
{
    text-align: center;
}

.content2
{
    display: flex;
    height: 70vh;
    background-color: white;
    align-items: center;
    background-image: url(images/wave2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6vh;
}

.content2 img
{
    height: 200px;
    margin-left: 50vh;
}

.text-image
{   
    font-size: 3vh;
    text-align: center;
    align-items: center;
    margin-left: 40vh;
    margin-right: 20vh;
    text-shadow: 2px 2px 4px gray;
}

.video_banco video
{
    height: 65vh;
    border: 3px solid lightgray;
    border-radius: 20px;
}

.content3
{
    display: flex;
    height: 70vh;
    background-color: white;
    align-items: center;
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6vh;
    justify-content: center;
}

.content3 img
{
    border: 3px solid white;
    border-radius: 20px;
    position: relative;
    height: 50vh;
}

.text-card
{   
    text-align: center;
    font-size: 3vh;
    text-shadow: 2px 2px 4px lightgray;
    margin-right: 20vh;
}

.content4
{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
    color: white;
}

.text-button
{
    text-align: center;
    margin-bottom: 5vh;
    text-decoration: underline;
}

.text-button a
{
    background-color: white;
    font-size: 5vh;
    border: 0.3vh solid lightgray;
    border-radius: 30px;
    padding: 10px;
    border-bottom: 10px solid lightgray;
    text-decoration: none;
    color: #1E90FF;
    margin-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer
{
    display: flex;
    height: 5vh;
    align-items: center;
    background-color: #E8EBEB;
    padding: 2vh;
}